__pycache__/
*.py[cod]

venv/
venv_*/
.venv/

output/
src/id.json
src/executed_id.json
src/themes/*/id.json
src/themes/*/executed_id.json

*.pt
*.onnx
*.mp4
*.m4a
*.mp3
*.wav

client_secrets.json
oauth2.json
cookies.txt
youtube_cookies.txt
.env
